<section>
<nav  fxLayout="row">
    <mat-toolbar class="flex-container">
        <a mat-button routerLink="/">
            <h2>My Wallet</h2>
        </a>
    </mat-toolbar>
</nav>

<div class="container">
    <div class="card">
        <h3 class="card-header">Rendimento</h3>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Acao</th>
                        <th scope="col">Porcento</th>
                        <th scope="col">Real</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ngFor="let rendimento of rendimentos[]">
                        <td>{{rendimento.acao}}</td>
                        <td>{{rendimento.rendimentoPorcentagem}}</td>
                        <td>{{rendimento.rendimentoReal}}</td>
                        
                    </tr>
                </tbody>
            </table>    
        </div>
    </div> 
</div>
    <section fxFlexfill>
        <router-outlet></router-outlet>
    </section>
</section>
