mat-toolbar {
    background: #191970;
}

button{
    background: #191970;
    color: white;
}
.tabela-rendimento-carteira {
    width: 240px;
}

.tabela-rendimento-carteira h3 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.body{
    border: 1px solid #ccc;
    height: 89vh;
    /*background: chartreuse;*/
    width: 270px;
}



