mat-toolbar {
    background: darkslategray;
}

.tabela-rendimento-carteira {
    
    width: 240px;
    
}

.tabela-rendimento-carteira h3 {
    font-size: 16px;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
}
.body{
    border: 1px solid #ccc;
    height: 91.5vh;
    /*background: chartreuse;*/
    float: left;
}

.body2{
    border: 1px solid #ccc;
    
    background: chartreuse;
    padding: 10px;
}

.container{
    /*background: coral;*/
    width: 280px;
}


.cadastro-usuario {
    margin-left: 100px;
} 