<section >
<nav  fxLayout="row">
    <mat-toolbar class="flex-container">
        <a mat-button routerLink="/">
            <h2>My Wallet</h2>
        </a>
    </mat-toolbar>
</nav>
<section class="">
<!--Table Ações -->
<section class="body d-inline-flex align-items-start flex-column">
    <div class="container mb-auto" >
        <div class="tabela-rendimento-carteira">            
            <h3>Tabela de Ações</h3>
            <table class="table table-sm">
                <tbody *ngFor="let a of list">
                    <tr>
                        <td>{{a.nome}}</td>
                    </tr>   
                    
                </tbody>
            </table>    
        </div>
    </div>


<!--Table Carteira-Rendimento -->
    <div class="container" >
        <div class="tabela-rendimento-carteira">            
            <h3>Rendimento da Carteira</h3>
            <table class="table table-sm">
                <tbody *ngFor="let rendimento of listRendimentoCarteira">
                    <tr>
                        <th scope="row">Real</th>
                        <td>R$ {{rendimento.rendimentoReal}}</td>
                    </tr>   
                    <tr>
                        <th scope="row">Porcento</th>
                        <td>{{rendimento.rendimentoPorcento}}%</td>
                    </tr>
                </tbody>
            </table>    
        </div>
    </div>

</section>
</section>
<section fxFlexfill>
    <router-outlet></router-outlet>
</section>
</section>
